export(inset_background)
export(inset_position)
export(inset_templates)
export(meme)
export(memetheme)
export(text_position)
importFrom(magrittr,"%>%")

if(.Platform$OS.type == "windows") importFrom(grDevices, windowsFonts)
